<!DOCTYPE html>
<html>
  <title>Hibernation Calculator</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <link rel="stylesheet" href="../public/css/style.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif;
    }
  </style>
  <body class="w3-light-grey">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width: 1400px">
      <!-- The Grid -->
      <div class="w3-row-padding">
        <!-- Left Column -->
        <div class="w3-third">
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <div class="w3-header w3-block w3-padding w3-blue">
              <h4 class="w3-center">EMYS ORBICULARIS HIBERNATION CALCULATOR</h4>
            </div>
            <form class="w3-margin-top ">
              <div class="input-container">
                <input id="length" class="w3-text-black" type="number" step="any" required="" />
                <label>Shell length <em>(cm)</em></label>
              </div>
              <div class="input-container">
                <input id="weigth" class="w3-text-black" type="number" step="any" required=""/>
                <label>Weigth before hibernation <em>(g)</em></label>
              </div>
              <button
                id="btn-compute"
                class="
                  w3-margin
                  w3-padding
                  w3-button
                  w3-white
                  w3-border
                  w3-border-blue
                  w3-round-large
                "
              >
                COMPUTE
              </button>
            </form>
            <div id="result-box" class="w3-padding w3-container w3-hide w3-white" >
              <p id="values" class="w3-center"></p>
              <h1 id="result" class="w3-center"></h1>
                <button id="btn-reset" class=" w3-button w3-margin-bottom w3-border w3-border-blue w3-center w3-block" >RESET</button>
            </div>
          </div>
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">
          <div class="w3-container w3-center w3-white w3-card w3-padding table-flow">
            <h3>Your computed results will apear here!</h3>
            <hr />
            <table id="table-turtles" class="w3-table w3-striped w3-mobile" >
              <tr>
                <th>#</th>
                <th>Length</th>
                <th>Weigth</th>
                <th>Result</th>
                <th>Min (g)</th>
                <th>Avg (g)</th>
                <th>Max (g)</th>
                <th>
                  <a><i class="fa fa-trash w3-xlarge" ></i></a>
                </th>
              </tr>
            </table>
          </div>

          <!-- End Right Column -->
        </div>

        <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>\
    <script src="../public/js/script.js"></script>
  </body>
</html>
