<!DOCTYPE html>
<html>
  <title>Hibernation Calculator</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="../public/css/style.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif;
    }
  </style>
  <body class="w3-light-grey">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width: 1400px">
      <!-- The Grid -->
      <div class="w3-row-padding">
        <!-- Left Column -->
        <div class="w3-third">
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <div class="w3-header w3-block w3-padding w3-blue">
              <h4 class="w3-center">EMYS ORBICULARIS HIBERNATION CALCULATOR</h4>
            </div>
            <form class="w3-margin-top">
              <div class="input-container">
                <input type="text" required="" />
                <label>Shell length <em>(cm)</em></label>
              </div>
              <div class="input-container">
                <input type="mail" required="" />
                <label>Weigth before hibernation <em>(g)</em></label>
              </div>
              <button
                type="button"
                class="
                  w3-margin
                  w3-padding
                  w3-button
                  w3-white
                  w3-border
                  w3-border-blue
                  w3-round-large
                "
              >
                COMPUTE
              </button>
            </form>
          </div>
        </div>

        <!--Second left div -->

        <!-- Right Column -->
        <div class="w3-twothird">
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h1>table</h1>
          </div>

          <!-- End Right Column -->
        </div>

        <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>
  </body>
</html>
